# Nix/direnv environment cache
.direnv/
result
result-*

# OS & IDE specific
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db

**/.*
**/.pio/
**/.pnode/
**/build/

**/kombucha.db
**/.venv/
**/__pycache__/zyma-cortex/kombucha-cortex/.gitignore
